<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Awesome Web Testing</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
    <link rel='stylesheet' type='text/css' media='screen' href='assets/styles.css'>

</head>
<body>
    <%- include('partials/nav.ejs'); -%>

    <h1>This is the best website you'll find anywhere on the internet.</h1>
    <p>This website is made for testing node.js</p>
</body>
</html>